<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Wars</title>
    <script src="{{ url_for('static', filename='api_wars.js') }}" defer></script>
</head>
<body onload="getPlanetsDetails('https://swapi.dev/api/planets/')">
<h1> Star Wars universe planets</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>diameter</th>
        <th>climate</th>
        <th>terrain</th>
        <th>surface water</th>
        <th>population</th>
    </tr>
    </thead>
    <tbody id="planets">

    </tbody>
</table>
</body>
</html>